<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Warn"
	  internalLogToConsole="false"
	  internalLogToConsoleError="false"
      internalLogToTrace="false"
	  internalLogFile="c:\temp\nlog-internal.log"
	  globalThreshold="Info">

  <extensions>
    <add assembly="Paya.Automation.Editor" />
  </extensions>

  <targets async="true">
    <target xsi:type="WpfTextBox" name="logsTextBox" elementName="LogsTextBox" layout="${counter}: [${persianDate}] ${message} ${exception:maxInnerExceptionLevel=4}" />
    <target xsi:type="File" name="FileTarget" fileName=".\logs\logs.log" createDirs="true" encoding="UTF-8" keepFileOpen="true" archiveEvery="Day" archiveAboveSize="524287" archiveNumbering="Sequence" fileAttributes="Compressed" concurrentWrites="true" lineEnding="CRLF"
				layout="${counter}: ${persianDate}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
    <!--<target xsi:type="Debug" name="DebugTarget" layout="${counter}: ${persianDate}|${logger}|${uppercase:${level}}|${message} ${exception:maxInnerExceptionLevel=4}" />
    <target xsi:type="Console" name="ConsoleTarget" layout="${counter}: ${persianDate} ${message} ${exception:maxInnerExceptionLevel=4}" />
    <target xsi:type="Trace" name="TraceTarget" layout="${counter}: ${persianDate} ${message} ${exception:maxInnerExceptionLevel=4}" />-->
  </targets>

  <rules>
    <logger name="*" writeTo="logsTextBox" />
    <logger name="*" writeTo="FileTarget" />
    <!--<logger name="*" writeTo="DebugTarget" minlevel="Trace" />
    <logger name="*" writeTo="ConsoleTarget" minlevel="Debug" />-->
    <!--<logger name="*" writeTo="TraceTarget" />-->
  </rules>

</nlog>