<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.8" targetFramework="net40" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net4" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
  <package id="NetOffice.Core" version="1.7.4.11" targetFramework="net40" />
  <package id="NetOffice.Word" version="1.7.4.11" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="NLog" version="4.7.6" targetFramework="net40" />
  <package id="NLog.Schema" version="4.7.6" targetFramework="net40" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net4" />
</packages>